html{
    display: flex;
    height: 100%;
    align-items: center;
}

body,html{
    height: 100%;
}

#wireframe-layout{
    flex-wrap: wrap;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;

    font-weight: 750;
}

.wire-main{
    width:20%;
    display: block;
    box-sizing: border-box;
}

.wire-sub{
    width: 80%;

    box-sizing: border-box;
    transition: ease 0.3s;
    flex-wrap: wrap;
}

#wireframe-layout img{
    width: 100%;
    object-fit: contain;
    margin-bottom: 1vh;
    object-fit: cover;
}

.wire-main p,h1,a{
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
}

.wire-main h1{
    font-size: 1.5em;
}

#wireframe-layout a{
    word-wrap: break-word;
    margin-left: 1em;
    margin-right: 1em;
    display: block;
    margin-bottom: 1em;
}

.sub{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.sub div{
    width: 25%;
    box-sizing: border-box;
}

@media (orientation:portrait) and (max-width:1024px) and (min-width: 480px){

    #wireframe-layout{
        flex-direction: column;
    }

    .wire-main{
        width: 100%;
    }

    .wire-sub
    {
        width: 100%;
    }

    .sub div{
        width: 50%;
    }
}

@media (max-width: 480px) and (orientation: portrait) {

    #wireframe-layout{
        flex-direction: column;
    }

    .wire-main{
        width: 100%;
    }

    .wire-sub
    {
        width: 100%;
    }

    .sub div{
        width: 100%;
    }
}